
main .article {
    margin: 2vh 0;
    border-bottom: solid 0.2rem black;
  }
  main .article span {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
  }
  main .article .titre {
    font-weight: 700;
    text-decoration: underline;
  }
  main .article div {
    margin: 2vh 0 4vh 0;
  }