@media screen and (min-width:1200px) {
  .Home {
    margin: 0 25%;
    padding: 2vh 2rem;
    background-color: #FBE9E7;
  }
  .Home form label{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
  }
  .Home form textarea {
    resize: none;
    border-radius: 0.5rem;
  }
  .Home form div {
    text-align: right;
    margin-top: 1vh;
  }
}
@media screen and (max-width:1200px) {
  .Home {
    margin: 0 5%;
    padding: 2vh 1rem;
    background-color: #FBE9E7;
  }
  .Home form label{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
  }
  .Home form textarea {
    resize: none;
    border-radius: 0.5rem;
  }
  .Home form div {
    text-align: right;
    margin-top: 1vh;
  }
}